#developArea {
	height: 100%;
	width: 49%;
	float: left;
}
.CodeMirror {
	margin: 2px;
	height: 100%;
	width: 96%;
	border: 1px solid;
}
#result {
	height: 96%;
	width: 49%;
	float: left;
	border:1px solid;
	padding: 10px;
}